{% extends 'base.html' %}

{% block content %}
<!--Blog post section-->
<section>
  <h2 style="text-align: center !important" class="text-xl font-semibold mb-4">
    All Blog Posts
  </h2>
  {% for post in blog_posts %}
  <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-2xl p-8 mb-8 text-center">
    <div class="p-4 text-left mb-4 space-y-4 text-lg">
      <h3 class="text-xl font-semibold">{{ post.title }}</h3>
      <p>{{ post.content }}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
